<launch>
	<!-- vim: set ft=xml noet : -->
	
	<!-- Common launch file for the LQR control framework.
			Supports both AscTec and Pixhawk-based vehicles. Can
			also do velocity-only control (ignores position refs).
			~ aj // Nimbus Lab.
	-->

	<!-- allowed autopilots: "asctec" or "arducopter" -->
	<!-- must provide vicon_object -->
	<arg name="autopilot" default="arducopter"/>
	<arg name="vicon_object"/>
	<!-- use "device:baudrate" for apm, "device" for asctec -->
	<arg name="comm_port" default="/dev/ttyUSB0:57600"/>
	<arg name="total_mass" default="0.95"/>
	<!-- true if providing your own trajectory source -->
	<arg name="use_external_trajectory" default="false"/>
	<arg name="use_velctrl_only" default="false"/>
	<arg name="bias_compensation" default="true" />
	<arg name="start_rosbag" default="false"/>
	
	
	<!-- state source can be: "apm", "asctec", "vicon" or "onboard_camera" -->
	<!-- implemented filters: "median", "gauss" and "lwma" -->
  <node name="state_manager" pkg="state_manager" type="state_manager_node">
    <param name="state_source" type="string" value="vicon" />
    <param name="filter_type" type="string" value="median" />
    <param name="vicon_object" type="string" value="$(arg vicon_object)" />
  </node>

	<!-- an example trajectory node for reference -->
  <node name="trajectory_provider" pkg="trajectory_provider" type="trajectory_provider_node"
				if="$(eval not use_external_trajectory)">
		<!-- "hover", "circle", "hover2" -->
  	<param name="example_traj_type" type="string" value="hover"/>
	</node>
  
  <!-- control node (see velctrl flag above) -->
  <node name="lqr_controller" pkg="lqr_control" type="lqr_control_node"
  			output="screen" if="$(eval not use_velctrl_only)">
		<param name="controller_rate" value="45" type="int" />
  	<param name="total_mass" type="double" value="$(arg total_mass)"/>
  	<param name="use_stricter_gains" type="bool" value="false" />
  	<param name="estimator_rate" type="int" value="70" />
  	<param name="bias_compensation" type="bool" value="$(arg bias_compensation)" />
  </node>
  
  <node name="lqr_vel_controller" pkg="lqr_control" type="lqr_vel_ctrl_node"
  			if="$(eval use_velctrl_only)">
    <param name="controller_rate" type="int" value="30" />
    <param name="total_mass" value="$(arg total_mass)" type="double" />
  </node>

  <!-- autopilot communication node -->
  <node name="asctec_handler" pkg="asctec_handler" type="asctec_handler_node"
  			if="$(eval autopilot=='asctec')">
    <param name="serial_port" value="/dev/ttyUSB0" />
  </node>
  
  <!-- apm/px4 needs a handler for translation, plus a mavros node -->
  <group if="$(eval autopilot=='arducopter')">
  	<node name="apm_handler" pkg="apm_handler" type="apm_handler_node" />
  	<include file="$(find pixhawk_defaults)/apm_nimbus.launch">
  		<arg name="fcu_url" value="$(arg comm_port)"/>
  	</include>
  </group>
  
  <!-- record stuff -->
  <node name="recorder" pkg="rosbag" type="record" args="-a" if="$(eval start_rosbag)"/>
</launch>
